<%= render 'header' %>
<h4>Product name: </h4>
<div>
  <div>
    <p>Product name: </p>
    <%= @product.name %>
  </div>
  <div>
    <p>Product description: </p>
    <%= @product.description%>
  </div>
  
  <% @product.variants.each do |v| %>
    <div>
      <div>
        <p>Variants name: </p>
        <%= v.brand %>
      </div>
      <div>
        <p>Variants price: </p>
        <%= v.price %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>